html {
  font: arial;
  font-size: 15px;
}

img {
  position: absolute;
  top:28%;
  left:37%;
}

#top-buttons {
  background-color: inherit;
  border: none;
  color: #333333;
  margin: 0;
  padding: 10px;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  /*display: inline-block;*/
}

#top-buttons li {
  display: block;
  text-align: center;
  padding: 15px;
  padding-top: 12px;
}

#top-buttons #left li {
  float: left;
}

#top-buttons #right img {
  display: block;
  padding: 15px;
  padding-top: 0;
}

#img1 {
  left: 86.3%;
  top: 35.3%;
}

#img2 {
  left: 89.2%;
  top: 39%;
}

#img3 {
  left: 92%;
}

#top-buttons #right-text p {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-top: 15px;
  left: 67.3%;
}


#bottom-buttons {
  background-color: #f2f2f2;
  border: none;
  color: grey;
  /*padding: 20px;
  padding-bottom: 2px;*/
  margin: 0;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  /*display: inline-block;*/
}

#bottom-buttons li {
  display: block;
  text-align: center;
  padding: 15px;
  padding-bottom: 5px;
}

#bottom-buttons #left li {
  float: left;
}

#bottom-buttons #right li {
  float: right;
}

#middle-buttons input{
  position: absolute;
  top: 50%;
  left: 28%;
  padding: 6px;
  border: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  height: 25px;
  width: 550px;
}
