html {
  font-family: arial;
  font-size: 13px;
}

img {
  position: absolute;
  top:24%;
  left:37%;
}

#top-buttons {
  background-color: inherit;
  border: none;
  color: #333333;
  margin: 0;
  padding: 10px;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  /*display: inline-block;*/
}

#top-buttons li {
  display: block;
  text-align: center;
  padding: 15px;
  padding-top: 12px;
  padding-right: 10px;
}

#top-buttons #left li {
  float: left;
}

#top-buttons #right img {
  display: block;
  padding: 15px;
  padding-top: 0;
}

#img1 {
  left: 86.3%;
  top: 35.3%;
}

#img2 {
  left: 89.2%;
  top: 39%;
}

#img3 {
  left: 92%;
}

#top-buttons #right-text p {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-top: 15px;
  padding-right: 7px;
  left: 69%;
}

.top-buttons {
  color: #333333;
  text-decoration: none;
}

#bottom-buttons {
  background-color: #f2f2f2;
  border: none;
  border-top: solid;
  border-top-width: thin;
  border-top-color: #d9d9d9;
  color: grey;
  /*padding: 20px;
  padding-bottom: 2px;*/
  margin: 0;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  /*display: inline-block;*/
}

#bottom-buttons li {
  display: block;
  text-align: center;
  padding: 10px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-top: 7px;
}

#bottom-buttons #left li {
  float: left;
}

#bottom-buttons #right li {
  float: right;
  padding-right: 20px;
}

.bottom-buttons {
  color: grey;
  text-decoration: none;
}

#middle-buttons input{
  position: absolute;
  top: 45%;
  left: 28%;
  padding: 6px;
  border: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  height: 25px;
  width: 550px;
  box-shadow: 4px 4px 4px #e6e6e6;
}

#middle-buttons .mid-buttons {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

#search-link {
  position: absolute;
  display: inline-block;
  overflow: auto;
  padding: 13px;
  padding-left:17px;
  padding-right: 17px;
  background-color: #f2f2f2;
  text-align: center;
  top: 54%;
  left: 39.3%;
}

#lucky-link {
  position: absolute;
  display: inline-block;
  overflow: auto;
  padding: 13px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
  text-align: center;
  top: 54%;
  left: 49.7%;
}

#middle-buttons img {
  top: 46%;
  left: 69%;
}
